@model Louis_Philippe_Loeckx_PartyMVC.Models.Visitor

@{
    ViewData["Title"] = "Summary";
}

<h1>Summary</h1>

<div>
    <h4>Visitor</h4>
    <hr />
    <h5>Total amount of visitors = @ViewBag.TotalVisitors</h5>
    <h5>Total amount of familyMebers = @ViewBag.TotalFamilyMembers</h5>
    <h5>The oldest visitors age = @ViewBag.OldestVisitor</h5>
    <h5>The youngest visitors age = @ViewBag.YoungestVisitor</h5>

</div>
@*<div>
    @Html.ActionLink("Input", "Add", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
